# .gitignore

# Entorno virtual
venv/
env/
tests/
temp/

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class

# Base de datos
*.db
*.sqlite3

# Archivos de ambiente
.env

# Archivos de IDE
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos generados
logs/
dist/
build/

# .gitignore additions
commit*.*

# Logging
logs/
*.log

# Archivos de respaldo
*.bk
*.bak
*.bk

# Archivos de desarrollo
.coverage.*
CHANGELOG*.*
validate*.*
test*.*